<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" language="javascript">
</script>
<script src="http://maps.googleapis.com/maps/api/js">
google.setOnLoadCallback(drawChart);
google.load("visualization", "1", {packages:["corechart"]});
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmoPLGjD04yI95JE5c_AnoDiCO3u4zgXQ&callback=initMap">
    </script>
<h1>Welcome to Homepage</h1>
<p>Click on the button bellow</p>
<br/>
<br/>
<button name="b1" id="button_tag1">Click here</button>

<br/>
<br/>
<div id ="p1"></div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id ="p2"></div>
<br/>
<br/>
<br/>
<br/>
<div id="map1" style="width:1000px;height:400px;"></div>
<br/>
<br/>
<br/>
<div id="chart1"></div>